* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}


.your-comment{
  border-radius:   30px 30px 1px;
}  

.other-comment{
  border-radius:   30px 30px 30px 1px;
} 

#project-details{
  height: 90vh;
  overflow-y: scroll;
}

#comment-section{
  height: 60vh;
  overflow-y: scroll;
}

::-webkit-scrollbar{
  background: white;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background:#f1f1f1;
  border-radius: 10px;
}
