* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}


.your-comment{
  border-radius:   30px 30px 1px;
}  

.other-comment{
  border-radius:   30px 30px 30px 1px;
} 

#project-details{
  height: 90vh;
  overflow-y: scroll;
}

#comment-section{
  height: 60vh;
  overflow-y: scroll;
}

::-webkit-scrollbar{
  background: white;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background:#f1f1f1;
  border-radius: 10px;
}

.notMyProject{
  background-color: rgb(241, 241, 241) !important;
  color: darkslategray !important;
}

.missed-deadline {
  color: firebrick;
}

.active.active-role b.missed-deadline {
  color: rgb(255, 126, 148)!important;
}

.deadline-today{
  color: chocolate
}

.active.active-role b.deadline-today{
  color: gold
}

.deadline-tomorrow{
  color: dodgerblue;
}

.active.active-role b.deadline-tomorrow{
  color: paleturquoise;
}

.deadline-far{
  color: rgb(86, 179, 86);
}

.active.active-role b.deadline-far{
  color:  rgb(129, 211, 129);
}


.inactive-role {
  background-color: rgb(240, 240, 240) !important;
}